.scoreboard__cell_type_content
{
    height: 64px;

    transition: background-color .2s ease-out;

    .scoreboard
    {
        &__roll
        {
            font-size: 13px;

            display: inline-block;

            width: 50%;
            height: 50%;
        }

        &__frame-score
        {
            height: 50%;
        }
    }

    &.scoreboard__cell
    {
        &_active
        {
            background: #fffbc3;
        }

        &_last .scoreboard__roll
        {
            width: calc(100% / 3);
        }
    }
}
