.input
{
    box-sizing: border-box;

    text-align: center;

    border: none;
    box-shadow: 0 0 0 1px #ccc;

    &::placeholder
    {
        transition: opacity .2s ease-out;

        color: rgba(0, 0, 0, .2);
    }

    &:focus
    {
        outline: none;

        &::placeholder
        {
            opacity: 0;
        }
    }

    &_size
    {
        &_m
        {
            font-size: 16px;

            padding: 5px;
        }
        &_l
        {
            font-size: 24px;

            padding: 10px;
        }
    }
}
